Repository neurocracy/omnipedia: changes, and which GitLab CI jobs are due for each by the changed paths.
All: composer, yarn, test:phpunit

composer:
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
    FF_NETWORK_PER_BUILD: 'true'
    FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: 'true'
  services:
  - name: docker:20-dind
    alias: docker
    command:
    - --tls=false
  image:
  ...

yarn:
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
    FF_NETWORK_PER_BUILD: 'true'
    FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: 'true'
  services:
  - name: docker:20-dind
    alias: docker
    command:
    - --tls=false
  image:
  ...

test:phpunit:
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
    FF_NETWORK_PER_BUILD: 'true'
    FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: 'true'
  services:
  - name: docker:20-dind
    alias: docker
    command:
    - --tls=false
  image:
  ...

Issue #62: Rename PHPUnit CSV report file to match XML version.
  .gitignore
  phpunit.xml
Due: test:phpunit

Issue #62: Moving JUnit XML output to phpunit.xml
  .gitignore
  .gitlab-ci.yml
  phpunit.xml
Due: test:phpunit

.gitlab-ci.yml: Add missing needs to test:phpunit.
  .gitlab-ci.yml
Due: none

Edit phpunit.xml to trigger pipeline for real this time.
  phpunit.xml
Due: test:phpunit

Fixed indenting in phpunit.xml from previous commit.
  phpunit.xml
Due: test:phpunit

.gitlab-ci.yml: Hopefully fixed job does not exist and needs.
  .gitlab-ci.yml
Due: none

.gitlab-ci.yml: Prepend 'build:' to composer and yarn jobs.
  .gitlab-ci.yml
Due: none

.gitlab-ci.yml: Partial revert of fc5af4cfb5285c95bd192cd8ec34a3cc53abbce5
  .gitlab-ci.yml
Due: none

.gitlab-ci.yml: Update inaccurate comment.
  .gitlab-ci.yml
Due: none

.gitlab-ci.yml: Normalize all quotes to single quotes.
  .gitlab-ci.yml
Due: none

.gitlab-ci.yml: Added PHPUnit logfile comments.
  .gitlab-ci.yml
Due: none

.ddev/config.yaml: Standardize to single quotes.
  .ddev/config.yaml
Due: composer, yarn, test:phpunit

Upgraded tar-fs@npm (security):
  yarn.lock
Due: yarn

Upgraded http-proxy-middleware@npm:2.0.7 -> 2.0.9 (security):
  yarn.lock
Due: yarn

Upgraded drupal/eu_cookie_compliance (security) & drupal/metatag:
  composer.lock
Due: composer, yarn, test:phpunit

Upgraded serialize-javascript@npm:6.0.0 -> 6.0.2 (security):
  yarn.lock
Due: yarn

Upgraded @babel/helpers@npm to 7.27.4 (security):
  yarn.lock
Due: yarn

Upgraded @babel/runtime@npm:7.20.1 -> 7.27.4 (security):
  yarn.lock
Due: yarn

Upgraded @babel/core@npm:7.20.2 -> @babel/core@npm:7.27.4:
  yarn.lock
Due: yarn

.gitlab-ci.yml: Fixed/edited outdated comments.
  .gitlab-ci.yml
Due: none

.gitlab-ci.yml: Updated DDEV Mutagen commands to remove deprecated.
  .gitlab-ci.yml
Due: none

.gitlab-ci.yml: Added validate:composer job.
  .gitlab-ci.yml
Due: none

.gitlab-ci.yml: Added .file-patterns-ci to trigger on CI config changes.
  .gitlab-ci.yml
Due: none

Upgraded drupal/refreshless (dev-2.x 6038219 => dev-2.x 614ea45):
  composer.lock
Due: composer, yarn, test:phpunit

Upgraded drupal/omnipedia_pipeline (1.x-dev 30ac63c => 1.x-dev dfb8917):
  composer.lock
Due: composer, yarn, test:phpunit

Upgraded drupal/ambientimpact_ux (2.x-dev 6270b03 => 2.x-dev ae9485c):
  composer.lock
Due: composer, yarn, test:phpunit

Upgraded drupal/omnipedia_site_theme (8.x-dev 7625553 => 8.x-dev f6bedbb):
  composer.lock
Due: composer, yarn, test:phpunit

.gitlab-ci.yml: Added interruptible: true to .ddev-base.
  .gitlab-ci.yml
Due: none

Upgraded drupal/omnipedia_site_theme (8.x-dev f6bedbb => 8.x-dev 27ce679):
  composer.lock
Due: composer, yarn, test:phpunit

Upgraded drupal/gin (4.0.6 => 4.1.0) + toolbar:
  composer.lock
Due: composer, yarn, test:phpunit

Upgraded drupal/diff (1.8.0 => 1.9.0)
  composer.lock
Due: composer, yarn, test:phpunit

Switching RefreshLess to Turbo cache branch:
  composer.json
  composer.lock
Due: composer, yarn, test:phpunit

Various RefreshLess cache fixes in module and Omnipedia theme.
  composer.lock
Due: composer, yarn, test:phpunit

Removed Drupal core oEmbed patch; we don't currently use oEmbed.
  composer.patches.json
  patches/drupal/core/3042423-hook-to-modify-oembed-resource-data.patch
Due: composer, yarn, test:phpunit

Upgraded drupal/s3fs (3.7.0 => 3.8.0)
  composer.lock
Due: composer, yarn, test:phpunit

Upgraded drupal/core (10.4.7 => 10.5.0) + immediate dependencies:
  composer.json
  composer.lock
Due: composer, yarn, test:phpunit

Removed Drush 12.x from version constraint; now ^13.6.
  composer.json
  composer.lock
Due: composer, yarn, test:phpunit

Drupal 10.3 and 11 deprecation fixes for omnipedia_content + theme:
  composer.lock
Due: composer, yarn, test:phpunit

Upgraded drupal/omnipedia_site_theme (8.x-dev 91730c2 => 8.x-dev bc7592d):
  composer.lock
Due: composer, yarn, test:phpunit

Path conditions:
  composer: (any of: .ddev/**/*) or (any of: composer.json, composer.lock, composer.patches.json)
  yarn: (any of: .ddev/**/*) or ((any of: composer.json, composer.lock, composer.patches.json) or (any of: .yarn/**/*, .yarnrc.yml, package.json, yarn.lock))
  test:phpunit: (any of: .ddev/**/*) or ((any of: composer.json, composer.lock, composer.patches.json) or (any of: phpunit.xml))
