Repository neurocracy/omnipedia: changes, and which GitLab CI jobs are due for each by the changed paths.
All: composer, yarn, test:phpunit

Path conditions:
  composer: (any of: .ddev/**/*) or (any of: composer.json, composer.lock, composer.patches.json)
  yarn: (any of: .ddev/**/*) or ((any of: composer.json, composer.lock, composer.patches.json) or (any of: .yarn/**/*, .yarnrc.yml, package.json, yarn.lock))
  test:phpunit: (any of: .ddev/**/*) or ((any of: composer.json, composer.lock, composer.patches.json) or (any of: phpunit.xml))

Fixed some outdated comments in DigitalOcean scripts regarding deploy.
  .do/jobs/post-failed-deploy.sh
  .do/jobs/post-successful-deploy.sh
  .do/run-background-tasks.php
Due: none

Fixed outdated yarn.lock.
  yarn.lock
Due: yarn

Updated founder message join block's donate link for Neurocracy 3.0.
  drupal_config/sync/block.block.omnipedia_site_theme_founder_message_join.yml
Due: none

Upgraded drupal/gin_everywhere (1.2.3 => 1.3.0)
  composer.lock
Due: composer, yarn, test:phpunit

Upgraded drupal/omnipedia_site_theme (8.x-dev c2c55cd => 8.x-dev 3ada377):
  composer.lock
Due: composer, yarn, test:phpunit

Issue #65: Added basic Open Graph & Twitter metatags w/ share image.
  composer.lock
  drupal_config/sync/metatag.metatag_defaults.global.yml
  drupal_config/sync/metatag.metatag_defaults.node.yml
Due: composer, yarn, test:phpunit

Uninstalled drupal/devel_entity_updates as we don't really use it.
  composer.json
  composer.lock
  drupal_config/sync/config_split.config_split.dev.yml
Due: composer, yarn, test:phpunit

Upgraded drupal/ambientimpact_core (2.x-dev 0fcc375 => 3.x-dev 1730666):
  composer.json
  composer.lock
  package.json
  yarn.lock
Due: composer, yarn, test:phpunit

Fixed title attribute tooltips not attaching on RefreshLess restore:
  composer.lock
Due: composer, yarn, test:phpunit

RefreshLess caching and preloader now in dev-2.x!
  composer.json
  composer.lock
Due: composer, yarn, test:phpunit

neurocracy/omnipedia/omnipedia-theme#31: Fix infobox media centring.
  composer.lock
Due: composer, yarn, test:phpunit

Set moderation state as hidden on media library view modes.
  drupal_config/sync/core.entity_form_display.media.audio.media_library.yml
  drupal_config/sync/core.entity_form_display.media.document.media_library.yml
  drupal_config/sync/core.entity_form_display.media.gif.media_library.yml
  drupal_config/sync/core.entity_form_display.media.image.media_library.yml
  drupal_config/sync/core.entity_form_display.media.remote_video.media_library.yml
  drupal_config/sync/core.entity_form_display.media.video.media_library.yml
  drupal_config/sync/core.entity_view_display.media.audio.media_library.yml
  drupal_config/sync/core.entity_view_display.media.document.media_library.yml
  drupal_config/sync/core.entity_view_display.media.gif.compact.yml
  drupal_config/sync/core.entity_view_display.media.gif.media_library.yml
  drupal_config/sync/core.entity_view_display.media.image.media_library.yml
  drupal_config/sync/core.entity_view_display.media.remote_video.media_library.yml
  drupal_config/sync/core.entity_view_display.media.video.media_library.yml
Due: none

Upgraded drupal/refreshless (dev-2.x 63a9fdc => dev-2.x fe5c8e0):
  composer.lock
Due: composer, yarn, test:phpunit

Upgraded drupal/tfa (1.11.0 => 1.12.0) + required dependencies:
  composer.lock
Due: composer, yarn, test:phpunit

Upgraded drupal/refreshless (dev-2.x fe5c8e0 => dev-2.x fdb836c):
  composer.lock
Due: composer, yarn, test:phpunit

Issue #66: Install reroute_email; uninstall development_environment.
  composer.json
  composer.lock
  drupal_config/splits/dev/config_split.patch.reroute_email.settings.yml
  drupal_config/splits/dev/config_split.patch.user.role.developer.yml
  drupal_config/splits/staging/config_split.patch.reroute_email.settings.yml
  drupal_config/sync/config_split.config_split.dev.yml
  drupal_config/sync/config_split.config_split.staging.yml
  drupal_config/sync/core.extension.yml
  drupal_config/sync/reroute_email.settings.yml
  drupal_config/sync/user.role.developer.yml
  web/sites/default/settings.php
Due: composer, yarn, test:phpunit

core.entity_view_display.media.image.default.yml reexport w/ moderation.
  drupal_config/sync/core.entity_view_display.media.image.default.yml
Due: none

Issue #66: Remove drupal/development_environment.
  composer.json
  composer.lock
Due: composer, yarn, test:phpunit

Switched drupal/omnipedia_date back to main branch + merged date header:
  composer.json
  composer.lock
Due: composer, yarn, test:phpunit

Upgraded drupal/ambientimpact_base (7.x-dev 667e391 => 7.x-dev 04b2a0d):
  composer.lock
Due: composer, yarn, test:phpunit

Upgraded drupal/refreshless (dev-2.x fdb836c => dev-2.x a6f4cd2)
  composer.lock
Due: composer, yarn, test:phpunit

Issue #61: Customized account deletion email subjects and bodies.
  drupal_config/sync/purge_users.settings.yml
Due: none

Issue #61: Enabled account deletion for 7 day old never logged in users.
  drupal_config/sync/purge_users.settings.yml
Due: none

Various improvements for RefreshLess cache restore + tooltips & to top:
  composer.lock
Due: composer, yarn, test:phpunit

Reworked most theme z-index values as CSS custom properties:
  composer.lock
Due: composer, yarn, test:phpunit

Discourse permalink form description: "speculation" to "discussion".
  drupal_config/sync/field.field.taxonomy_term.episode_tiers.field_discourse_permalink.yml
Due: none

Significant rework for Discourse server permalinks + menu/local tasks:
  composer.lock
Due: composer, yarn, test:phpunit

Upgraded drupal/omnipedia_date (5.x-dev 1a69981 => 5.x-dev acd32c8):
  composer.lock
Due: composer, yarn, test:phpunit

Upgraded drupal/omnipedia_discourse (1.x-dev 82bfe1a => 1.x-dev 65fda16):
  composer.lock
Due: composer, yarn, test:phpunit

Upgraded drupal/omnipedia_discourse (1.x-dev 65fda16 => 1.x-dev 3da2f67):
  composer.lock
Due: composer, yarn, test:phpunit

Upgraded drupal/omnipedia_discourse (1.x-dev 3da2f67 => 1.x-dev b078a08):
  composer.lock
Due: composer, yarn, test:phpunit

Installed omnipedia_discourse_refreshless:
  drupal_config/sync/core.extension.yml
Due: none

Upgraded drupal/eu_cookie_compliance (1.27.0 => 1.28.0)
  composer.lock
Due: composer, yarn, test:phpunit

RefreshLess caching fixes for various elements + more z-index props:
  composer.lock
Due: composer, yarn, test:phpunit

Upgraded drupal/refreshless (dev-2.x a6f4cd2 => dev-2.x 01d3311):
  composer.lock
Due: composer, yarn, test:phpunit

Upgraded drupal/refreshless (dev-2.x 01d3311 => dev-2.x f82ae38):
  composer.lock
Due: composer, yarn, test:phpunit

Upgraded drupal/ambientimpact_ux (2.x-dev 7b3a68b => 2.x-dev f1426e3):
  composer.lock
Due: composer, yarn, test:phpunit

Upgraded drupal/omnipedia_site_theme (8.x-dev dd3b630 => 8.x-dev 5f971a5):
  composer.lock
Due: composer, yarn, test:phpunit

Upgraded drupal/ambientimpact_icon (1.x-dev 85bb8ce => 1.x-dev 0215fb8):
  composer.lock
Due: composer, yarn, test:phpunit

Upgraded drupal/omnipedia_site_theme (8.x-dev 5f971a5 => 8.x-dev e8a2cfd):
  composer.lock
Due: composer, yarn, test:phpunit
