Repository neurocracy/omnipedia: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:composer, build:yarn, validate:composer, test:phpunit

build:composer:
  interruptible: true
  artifacts:
    expire_in: 1 week
    expose_as: web
    when: always
    exclude:
    - .git
    - .git/**/*
    - $CI_PROJECT_DIR/web/**/.git
    - $CI_PROJECT_DIR/web/**/.git/**/*
    - vendor/**/.git
    - vendor/**/.git/**/*
    name: artifacts-$CI_PIPELINE_ID-$CI_JOB_NAME_SLUG
    paths:
  ...

build:yarn:
  interruptible: true
  artifacts:
    expire_in: 1 week
    expose_as: web
    when: always
    exclude:
    - .git
    - .git/**/*
    - $CI_PROJECT_DIR/web/**/.git
    - $CI_PROJECT_DIR/web/**/.git/**/*
    - vendor/**/.git
    - vendor/**/.git/**/*
    name: artifacts-$CI_PIPELINE_ID-$CI_JOB_NAME_SLUG
    paths:
  ...

validate:composer:
  interruptible: true
  artifacts:
    expire_in: 1 week
    expose_as: web
    when: always
    exclude:
    - .git
    - .git/**/*
    - $CI_PROJECT_DIR/web/**/.git
    - $CI_PROJECT_DIR/web/**/.git/**/*
    - vendor/**/.git
    - vendor/**/.git/**/*
    name: artifacts-$CI_PIPELINE_ID-$CI_JOB_NAME_SLUG
    paths:
  ...

test:phpunit:
  interruptible: true
  artifacts:
    expire_in: 1 week
    expose_as: web
    when: always
    exclude:
    - .git
    - .git/**/*
    - $CI_PROJECT_DIR/web/**/.git
    - $CI_PROJECT_DIR/web/**/.git/**/*
    - vendor/**/.git
    - vendor/**/.git/**/*
    name: artifacts-$CI_PIPELINE_ID-$CI_JOB_NAME_SLUG
    paths:
  ...

Issue #71: Updated phpunit.xml to PHPUnit 10.5+/Drupal 11.
  phpunit.xml
Due: build:composer, test:phpunit

Issue #71: Limited PHPUnit testsuite scanning to our modules/themes.
  phpunit.xml
Due: build:composer, test:phpunit

Issue #71: Disabled PHPUnit testsuite scanning core for now.
  phpunit.xml
Due: build:composer, test:phpunit

Issue #71: Disabled PHPUnit slow tests extension, not compatible w/ 10+.
  phpunit.xml
Due: build:composer, test:phpunit

Issue #71: Removed test-only contrib modules; no longer a problem:
  composer.json
  composer.lock
  composer.patches.json
  patches/drupal/aggregator/3471498-drupal-10.4-tests.patch
Due: build:composer, build:yarn, validate:composer, test:phpunit

Issue #71: Removed Drupal core ^10.5 and Symfony ^6.2 from constraints.
  composer.json
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Issue #71: Forgot to allow some test modules on Drupal 11 whoops:
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/rebuilder (dev-1.x ee11461 => dev-1.x 7bf098d):
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Issue #71: Various Drupal 11/PHPUnit 10+ test fixes:
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Issue #71: Remove PHPUnit --verbose from GitHub workflow:
  .github/workflows/main.yml
Due: none

Upgraded drupal/omnipedia_user (6.x-dev dc4fb61 => 6.x-dev a6a3b68):
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

.gitignore: Ignore /.phpunit.cache/*
  .gitignore
Due: none

Upgraded drupal/omnipedia_changes (7.x-dev a2c6e1b => 7.x-dev be7bbd6):
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Added security.enable_super_user: false container parameter:
  web/sites/default/services.security.yml
Due: none

Upgraded drupal/metatag & drupal/search_api:
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Updated 'private' config split to use patching.
  drupal_config/splits/private/block.block.omnipedia_site_theme_account_menu.yml
  drupal_config/splits/private/config_split.patch.block.block.omnipedia_site_theme_account_menu.yml
  drupal_config/splits/private/config_split.patch.user.role.anonymous.yml
  drupal_config/splits/private/config_split.patch.user.role.authenticated.yml
  drupal_config/splits/private/config_split.patch.user.settings.yml
  drupal_config/splits/private/user.role.anonymous.yml
  drupal_config/splits/private/user.role.authenticated.yml
  drupal_config/splits/private/user.settings.yml
Due: none

'private' config split now enables email rerouting.
  drupal_config/splits/private/config_split.patch.reroute_email.settings.yml
  drupal_config/sync/config_split.config_split.private.yml
Due: none

Exported gin.settings.yml; key order, no functional changes.
  drupal_config/sync/gin.settings.yml
Due: none

Updated 'staging' config split to use patching.
  drupal_config/splits/staging/config_split.patch.dblog.settings.yml
  drupal_config/splits/staging/config_split.patch.gin.settings.yml
  drupal_config/splits/staging/dblog.settings.yml
  drupal_config/splits/staging/gin.settings.yml
Due: none

Upgraded drupal/ambientimpact_base (7.x-dev 1a3484c => 7.x-dev 5591c20):
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Additional fixes for contextual links & Drupal Navigation:
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/ambientimpact_base (7.x-dev 7329879 => 7.x-dev 446d832):
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Issue #71: Removed unused drupal/config_filter for PHPUnit pre-10.5.
  composer.json
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Added drupal_config/splits/refreshless/.gitkeep
  drupal_config/splits/refreshless/.gitkeep
Due: none

Issue #71: Exported a bunch more Drupal 11 config; mostly Views changes.
  drupal_config/sync/block.block.omnipedia_site_theme_footer.yml
  drupal_config/sync/core.entity_form_mode.media.media_library.yml
  drupal_config/sync/core.entity_form_mode.user.register.yml
  drupal_config/sync/core.entity_view_display.media.video.default.yml
  drupal_config/sync/views.view.attached_data.yml
  drupal_config/sync/views.view.content.yml
  drupal_config/sync/views.view.fancy_file_delete.yml
  drupal_config/sync/views.view.files.yml
  drupal_config/sync/views.view.glossary.yml
  drupal_config/sync/views.view.login_history.yml
  drupal_config/sync/views.view.media.yml
  drupal_config/sync/views.view.media_library.yml
  drupal_config/sync/views.view.moderated_content.yml
  drupal_config/sync/views.view.redirect.yml
  drupal_config/sync/views.view.user_admin_people.yml
  drupal_config/sync/views.view.watchdog.yml
  drupal_config/sync/views.view.who_s_online.yml
  drupal_config/sync/views.view.wiki_search.yml
Due: none

Issue #71: Exported missing Navigation user links menu for Drupal 11.
  drupal_config/sync/system.menu.navigation-user-links.yml
Due: none

Uninstalled the legacy toolbar module.
  drupal_config/sync/core.extension.yml
  drupal_config/sync/user.role.contributor.yml
  drupal_config/sync/user.role.developer.yml
  drupal_config/sync/user.role.editor.yml
  drupal_config/sync/user.role.moderator.yml
Due: none

Upgraded drupal/gin (5.0.3 => 5.0.4)
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/moderated_content_bulk_publish & drupal/monolog:
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/core (11.2.4 => 11.2.5):
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded aws/aws-sdk-php (3.356.22 => 3.356.32)
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded various vendor dependencies, including Symfony components:
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Switch patch URLs in modules from GitHub to GitLab:
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Added "ddev doctl" command + Dockerfile and env.
  .ddev/commands/web/doctl
  .ddev/web-build/Dockerfile.doctl
Due: none

Added "ddev do-deployment" command.
  .ddev/commands/web/do-deploy
Due: none

Removed unused COMPOSER_AUTH from app spec/deploy template.
  .do/app.yaml
  .do/deploy.template.yaml
Due: none

Converted double quotes to single quotes in app spec/deploy template.
  .do/app.yaml
  .do/deploy.template.yaml
Due: none

Dockerfile.doctl: Fix CI?
  .ddev/web-build/Dockerfile.doctl
Due: none

Path conditions:
  build:composer: (any of: .gitlab-ci.yml) or ((any of: composer.json, composer.lock, composer.patches.json) or ((any of: .yarn/**/*, .yarnrc.yml, package.json, yarn.lock) or (any of: phpunit.xml)))
  build:yarn: (any of: .gitlab-ci.yml) or ((any of: composer.json, composer.lock, composer.patches.json) or (any of: .yarn/**/*, .yarnrc.yml, package.json, yarn.lock))
  validate:composer: (any of: .gitlab-ci.yml) or (any of: composer.json, composer.lock, composer.patches.json)
  test:phpunit: (any of: .gitlab-ci.yml) or ((any of: composer.json, composer.lock, composer.patches.json) or (any of: phpunit.xml))
