Repository neurocracy/omnipedia: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:composer, build:yarn, validate:composer, test:phpunit

build:composer:
  interruptible: true
  artifacts:
    expire_in: 1 week
    expose_as: web
    when: always
    exclude:
    - .git
    - .git/**/*
    - $CI_PROJECT_DIR/web/**/.git
    - $CI_PROJECT_DIR/web/**/.git/**/*
    - vendor/**/.git
    - vendor/**/.git/**/*
    name: artifacts-$CI_PIPELINE_ID-$CI_JOB_NAME_SLUG
    paths:
  ...

build:yarn:
  interruptible: true
  artifacts:
    expire_in: 1 week
    expose_as: web
    when: always
    exclude:
    - .git
    - .git/**/*
    - $CI_PROJECT_DIR/web/**/.git
    - $CI_PROJECT_DIR/web/**/.git/**/*
    - vendor/**/.git
    - vendor/**/.git/**/*
    name: artifacts-$CI_PIPELINE_ID-$CI_JOB_NAME_SLUG
    paths:
  ...

validate:composer:
  interruptible: true
  artifacts:
    expire_in: 1 week
    expose_as: web
    when: always
    exclude:
    - .git
    - .git/**/*
    - $CI_PROJECT_DIR/web/**/.git
    - $CI_PROJECT_DIR/web/**/.git/**/*
    - vendor/**/.git
    - vendor/**/.git/**/*
    name: artifacts-$CI_PIPELINE_ID-$CI_JOB_NAME_SLUG
    paths:
  ...

test:phpunit:
  interruptible: true
  artifacts:
    expire_in: 1 week
    expose_as: web
    when: always
    exclude:
    - .git
    - .git/**/*
    - $CI_PROJECT_DIR/web/**/.git
    - $CI_PROJECT_DIR/web/**/.git/**/*
    - vendor/**/.git
    - vendor/**/.git/**/*
    name: artifacts-$CI_PIPELINE_ID-$CI_JOB_NAME_SLUG
    paths:
  ...

Installed new App Platform commands and removed do-deploy command:
  .ddev/commands/web/do-app
  .ddev/commands/web/do-deploy
  composer.json
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded several Drupal modules:
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded aws/aws-sdk-php (3.356.37 => 3.356.43)
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded various vendor dependencies:
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Added <pitch-highlight> element and styling:
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/omnipedia_site_theme (8.x-dev 8a66637 => 8.x-dev 5341f42):
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/omnipedia_site_theme (8.x-dev 5341f42 => 8.x-dev 8c26bdc):
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/omnipedia_site_theme (8.x-dev 8c26bdc => 8.x-dev 2b86683):
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/core (11.2.5 => 11.2.8) (security) & Symfony components:
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded various Drupal modules:
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/gin (5.0.5 => 5.0.8)
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/ambientimpact_ux (2.x-dev 6fe03f6 => 2.x-dev fcd7e2d):
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/ambientimpact_base (7.x-dev 446d832 => 7.x-dev fe9d36f):
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded aws/aws-sdk-php (3.356.43 => 3.359.11)
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded vendor dependencies:
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded various Yarn dependencies (security):
  yarn.lock
Due: build:composer, build:yarn

Installed and configured ddev-cron add-on:
  .ddev/addon-metadata/ddev-cron/manifest.yaml
  .ddev/web-build/Dockerfile.ddev-cron
  .ddev/web-build/cron.conf
  .ddev/web-build/drupal.cron
  .gitignore
Due: none

Enable update checking of disabled extensions for security.
  drupal_config/sync/update.settings.yml
Due: none

A few config keys changed order on export + views change a few keys.
  drupal_config/sync/eu_cookie_compliance.settings.yml
  drupal_config/sync/views.view.content.yml
  drupal_config/sync/views.view.fancy_file_delete.yml
  drupal_config/sync/views.view.fancy_file_list_unmanaged.yml
Due: none

Add update_status_notify mail key to email rerouting:
  drupal_config/sync/reroute_email.settings.yml
Due: none

Added DigitalOcean DDEV commands and tools.
  .ddev/commands/host/do-db-firewall-add-current-ip
  .ddev/commands/host/do-db-firewall-remove-existing-rule
  .ddev/commands/host/do-db-pull
  .ddev/commands/host/do-db-push
  .ddev/commands/host/do-files-pull
  .ddev/commands/host/do-files-push
  .ddev/commands/host/do-tools-init
  .ddev/commands/host/get-current-public-ip
  .ddev/commands/host/set-dev
  .ddev/commands/host/set-production
  .ddev/commands/web/do-my-conf-init
  .ddev/commands/web/do-rclone-create-remote
  .ddev/commands/web/do-rclone-init
  .ddev/commands/web/do-s3cmd-init
  .ddev/commands/web/rclone
  .ddev/commands/web/s3cmd
  .ddev/config.yaml
  .ddev/providers/do-app.yaml
  .do/config/.gitignore
Due: none

Prepend/append .htaccess only in DigitalOcean deployment; see:
  .do/build/composer.sh
  composer.json
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

.do/build/yarn.sh now validates before attempting yarn add.
  .do/build/yarn.sh
Due: none

Variable name change in do-db-pull & do-db-push commands.
  .ddev/commands/host/do-db-pull
  .ddev/commands/host/do-db-push
Due: none

drupal_scaffold/htaccess_prepend: Remove non-existent cron.php:
  drupal_scaffold/htaccess_prepend
Due: none

Removed need to restart DDEV when changing config split env.
  .ddev/commands/host/set-dev
  .ddev/commands/host/set-production
  composer.json
  composer.lock
  web/sites/default/settings.php
Due: build:composer, build:yarn, validate:composer, test:phpunit

Switch RefreshLess to FOUC issue fork:
  composer.json
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

composer.json: Allow cweagans/composer-patches:^2.0.
  composer.json
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Switch RefreshLess back to main branch; FOUC fix now merged; see commit:
  composer.json
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/omnipedia_menu & drupal/omnipedia_search:
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/refreshless (dev-2.x 425dba5 => dev-2.x 59129c8):
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

composer.json: Remove "patches-ignore" for RefreshLess Navigation patch:
  composer.json
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded cweagans/composer-patches (1.7.3 => 2.0.0):
  composer.lock
  patches.lock.json
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/refreshless (dev-2.x 59129c8 => dev-2.x b952196):
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Update patch extra for cweagans/composer-patches^2.0.
  composer.json
  patches.lock.json
Due: build:composer, build:yarn, validate:composer, test:phpunit

Revert "Update patch extra for cweagans/composer-patches^2.0."
  composer.json
  patches.lock.json
Due: build:composer, build:yarn, validate:composer, test:phpunit

Revert "Upgraded cweagans/composer-patches (1.7.3 => 2.0.0):"
  composer.lock
  patches.lock.json
Due: build:composer, build:yarn, validate:composer, test:phpunit

Reapply "Upgraded cweagans/composer-patches (1.7.3 => 2.0.0):"
  composer.lock
  patches.lock.json
Due: build:composer, build:yarn, validate:composer, test:phpunit

Reapply "Update patch extra for cweagans/composer-patches^2.0."
  composer.json
  patches.lock.json
Due: build:composer, build:yarn, validate:composer, test:phpunit

Moved all pitch elements & component to new omnipedia_pitch module:
  composer.json
  composer.lock
  drupal_config/sync/core.extension.yml
Due: build:composer, build:yarn, validate:composer, test:phpunit

Path conditions:
  build:composer: (any of: .gitlab-ci.yml) or ((any of: composer.json, composer.lock, composer.patches.json) or ((any of: .yarn/**/*, .yarnrc.yml, package.json, yarn.lock) or (any of: phpunit.xml)))
  build:yarn: (any of: .gitlab-ci.yml) or ((any of: composer.json, composer.lock, composer.patches.json) or (any of: .yarn/**/*, .yarnrc.yml, package.json, yarn.lock))
  validate:composer: (any of: .gitlab-ci.yml) or (any of: composer.json, composer.lock, composer.patches.json)
  test:phpunit: (any of: .gitlab-ci.yml) or ((any of: composer.json, composer.lock, composer.patches.json) or (any of: phpunit.xml))
