Repository neurocracy/omnipedia: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:composer, build:yarn, validate:composer, test:phpunit

Path conditions:
  build:composer: (any of: .gitlab-ci.yml) or ((any of: composer.json, composer.lock, composer.patches.json) or ((any of: .yarn/**/*, .yarnrc.yml, package.json, yarn.lock) or (any of: phpunit.xml)))
  build:yarn: (any of: .gitlab-ci.yml) or ((any of: composer.json, composer.lock, composer.patches.json) or (any of: .yarn/**/*, .yarnrc.yml, package.json, yarn.lock))
  validate:composer: (any of: .gitlab-ci.yml) or (any of: composer.json, composer.lock, composer.patches.json)
  test:phpunit: (any of: .gitlab-ci.yml) or ((any of: composer.json, composer.lock, composer.patches.json) or (any of: phpunit.xml))

Remove unnecessary 'administer nodes' permission from contributor.
  drupal_config/sync/user.role.contributor.yml
Due: none

Update contributor to allow editing w/ content moderation.
  drupal_config/sync/user.role.contributor.yml
Due: none

Add 'view any unpublished content' permission to contributor role.
  drupal_config/sync/user.role.contributor.yml
Due: none

Upgraded drupal/core (11.3.12 => 11.3.14) (security) & limit to 11.3.x:
  composer.json
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded Drupal modules:
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drush/drush (13.7.3 => 13.7.6)
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded vendor dependencies, including aws/aws-sdk-php:
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/ambientimpact_icon & drupal/ambientimpact_media:
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/refreshless (dev-2.x 34b207c => dev-2.x a025a17):
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded contrib modules:
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Switch contrib drupal/ban-ban to drupal/ban & update.
  composer.json
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Switch drupal/session_limit to ^3.0; ^2.0 now only supports Drupal 10.
  composer.json
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

settings.php: Add Drupal 11.4 $settings['enable_html5_validation'] = true;
  web/sites/default/settings.php
Due: none

Upgraded drupal/core (11.3.14 => 11.4.5) & dependencies:
  composer.json
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Exported Drupal 11.4 config changes.
  drupal_config/sync/entity_usage.settings.yml
  drupal_config/sync/field.settings.yml
  drupal_config/sync/system.performance.yml
Due: none

Switch to contrib drupal/contact & drupal/history; D 11.4 deprecates them.
  composer.json
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Contributor role can now add & edit attached data.
  drupal_config/sync/user.role.contributor.yml
Due: none

Allow drupal/diff ^2.0, upgrade to 2.1.1 + drupal/omnipedia_changes.
  composer.json
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

phpunit.xml: Disable indirect deprecations to cut down on noise.
  phpunit.xml
Due: build:composer, test:phpunit

Upgraded drupal/omnipedia_core (6.x-dev cac1a8c => 6.x-dev 80d46bb):
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/omnipedia_date (5.x-dev 502b67a => 5.x-dev dc880cf):
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/omnipedia_date (5.x-dev dc880cf => 5.x-dev 17ab045):
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/omnipedia_discourse (1.x-dev a39ae92 => 1.x-dev a588b4c):
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/omnipedia_core (6.x-dev 80d46bb => 6.x-dev dd555e8):
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/omnipedia_main_page (1.x-dev 23e0dd1 => 1.x-dev 09b7df3):
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/omnipedia_access (5.x-dev 42fdaa5 => 5.x-dev 9a7a678):
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/omnipedia_core (6.x-dev dd555e8 => 6.x-dev 80c5f3e):
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/omnipedia_site_theme (8.x-dev 9af72f9 => 8.x-dev df2199e):
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/moderated_content_bulk_publish (2.0.52 => 2.0.53)
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/core (11.3.14 => 11.3.16) & dependencies:
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/views_bulk_operations (4.4.7 => 4.4.8)
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded vendor dependencies incl. Drush & aws/aws-sdk-php:
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/core (11.4.5 => 11.4.6) & dependencies:
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Issue #81: upgrade Omnipedia modules to fix Drupal 11.4 test failures:
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/core (11.3.16 => 11.3.17)
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Switch drupal/ambientimpact_* from GitHub to forge.ambientimpact.com.
  composer.json
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Replace abandoned oomphinc/composer-installers-extender w/ mnsami/composer-custom-directory-installer
  composer.json
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Add aliases to Yarn workspaces DDEV commands.
  .ddev/commands/web/yarn-remove-workspaces
  .ddev/commands/web/yarn-restore-workspaces
Due: none
