Repository neurocracy/omnipedia: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:composer, build:yarn, validate:composer, test:phpunit

Path conditions:
  build:composer: (any of: .gitlab-ci.yml) or ((any of: composer.json, composer.lock, composer.patches.json) or ((any of: .yarn/**/*, .yarnrc.yml, package.json, yarn.lock) or (any of: phpunit.xml)))
  build:yarn: (any of: .gitlab-ci.yml) or ((any of: composer.json, composer.lock, composer.patches.json) or (any of: .yarn/**/*, .yarnrc.yml, package.json, yarn.lock))
  validate:composer: (any of: .gitlab-ci.yml) or (any of: composer.json, composer.lock, composer.patches.json)
  test:phpunit: (any of: .gitlab-ci.yml) or ((any of: composer.json, composer.lock, composer.patches.json) or (any of: phpunit.xml))

Issue #77: Upgraded drupal/core-dev (11.3.2 => 11.3.3):
  composer.lock
  composer.patches.json
  patches/drupal/core/3556794-13_preprocess_hook__candidates_theme_oop.patch
Due: build:composer, build:yarn, validate:composer, test:phpunit

Issue #77: Installed contrib Ban; core Ban deprecated in 11.3.x:
  composer.json
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Issue #77: Drupal 11.3 update config export.
  drupal_config/splits/dev/config_split.patch.reroute_email.settings.yml
  drupal_config/sync/core.base_field_override.node.wiki_page.promote.yml
  drupal_config/sync/editor.editor.basic_html.yml
  drupal_config/sync/editor.editor.full_html.yml
  drupal_config/sync/security_review.settings.yml
  drupal_config/sync/system.rss.yml
  drupal_config/sync/update.settings.yml
  drupal_config/sync/user.role.developer.yml
  drupal_config/sync/views.settings.yml
  drupal_config/sync/views.view.taxonomy_term.yml
Due: none

Issue #77: Trying to fix Drupal 11.3 deploy with temp script change.
  .do/jobs/pre-deploy.sh
Due: none

Revert "Issue #77: Trying to fix Drupal 11.3 deploy with temp script change."
  .do/jobs/pre-deploy.sh
Due: none

Trying out PHP 8.4.
  .ddev/config.yaml
  composer.json
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Switch fork of drupal/markdown to stable 3.1.0 that includes all fixes:
  composer.json
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Issue #79: WIP phpunit.xml edits to supporess deprecations; not working.
  phpunit.xml
Due: build:composer, test:phpunit

Increase WebP quality from 80% to 100% for pitch site.
  drupal_config/sync/webp.settings.yml
Due: none

Upgraded drupal/omnipedia_site_theme (8.x-dev ce037a5 => 8.x-dev cf85008):
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/refreshless (dev-2.x 226790c => dev-2.x 390127d):
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Change pitch site name to avoid confusion w/ Omnipedia.
  drupal_config/sync/system.site.yml
Due: none

Change pitch site name to "Pitch".
  drupal_config/sync/system.site.yml
Due: none

Switch drupal/trusted_reverse_proxy back to stable; supports Drupal 11.
  composer.json
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded several Drupal modules:
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/omnipedia_site_theme (8.x-dev cf85008 => 8.x-dev 2553398):
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/ambientimpact_base (7.x-dev 1f7246e => 7.x-dev 3a2810a):
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/ambientimpact_base (7.x-dev 3a2810a => 7.x-dev 1dc12d9):
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/refreshless (dev-2.x 390127d => dev-2.x e0e471d):
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/ambientimpact_base (7.x-dev 1dc12d9 => 7.x-dev 94dd45e):
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/omnipedia_block (7.x-dev df5d909 => 7.x-dev d430aa4):
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded several Drupal modules:
  composer.lock
  drupal_config/sync/userprotect.settings.yml
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/refreshless (dev-2.x e0e471d => dev-2.x 34b207c):
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/core (11.3.3 => 11.3.5):
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded vendor dependencies, including Symfony & aws/aws-sdk-php:
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/core (11.3.5 => 11.3.7) (security)
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Issue #77: Deleted pre-Drupal 11.3.x favicon patch.
  patches/drupal/core/3037922-theme-info-favicon.patch
Due: none

Ported updated Yarn workspaces workflow to handle DO buildpack issues.
  .ddev/commands/web/yarn-remove-workspaces
  .ddev/commands/web/yarn-restore-workspaces
  package.json
  yarn.lock
  yarn.with-workspaces.lock
Due: build:composer, build:yarn

Add ddev yarn-restore-workspaces to GitLab CI.
  .gitlab-ci.yml
Due: build:composer, build:yarn, validate:composer, test:phpunit

Yarn 4.9.2 to 4.15.0 & lockfile version 8 to 10.
  .yarnrc.yml
  package.json
  yarn.lock
  yarn.with-workspaces.lock
Due: build:composer, build:yarn

Upgraded drupal/core (11.3.7 => 11.3.10) & dependencies (security):
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

composer.json: Forgot to bump minimum core to ^11.3 whoops.
  composer.json
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Expand webpack-cli version constraint to allow ^7.0.2 for newer Node.js:
  composer.lock
  yarn.with-workspaces.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

package.json: Explicitly set exact Yarn version to prevent surprises:
  package.json
Due: build:composer, build:yarn

Increase Node.js 22 to 24 <24.15.
  .ddev/config.yaml
  package.json
Due: build:composer, build:yarn

Upgrade Drupal core, contrib projects, and vendor dependencies:
  composer.lock
  drupal_config/sync/pathauto.pattern.node_wiki_page.yml
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/classy (2.0.2 => 2.0.3)
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Temporarily disable Pathologic on wiki_html in case it fixes prod imgs:
  drupal_config/sync/filter.format.wiki_html.yml
Due: none
