Repository neurocracy/omnipedia: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:composer, build:yarn, validate:composer, test:phpunit

Path conditions:
  build:composer: (any of: .gitlab-ci.yml) or ((any of: composer.json, composer.lock, composer.patches.json) or ((any of: .yarn/**/*, .yarnrc.yml, package.json, yarn.lock) or (any of: phpunit.xml)))
  build:yarn: (any of: .gitlab-ci.yml) or ((any of: composer.json, composer.lock, composer.patches.json) or (any of: .yarn/**/*, .yarnrc.yml, package.json, yarn.lock))
  validate:composer: (any of: .gitlab-ci.yml) or (any of: composer.json, composer.lock, composer.patches.json)
  test:phpunit: (any of: .gitlab-ci.yml) or ((any of: composer.json, composer.lock, composer.patches.json) or (any of: phpunit.xml))

.gitlab-ci.yml: Trying ddev debug rebuild for CI.
  .gitlab-ci.yml
Due: build:composer, build:yarn, validate:composer, test:phpunit

.gitlab-ci.yml: Looks like DDEV image in CI doesn't have debug rebuild.
  .gitlab-ci.yml
Due: build:composer, build:yarn, validate:composer, test:phpunit

.gitlab-ci.yml: Added ddev doctl --help to test doctl build in CI.
  .gitlab-ci.yml
Due: build:composer, build:yarn, validate:composer, test:phpunit

.gitlab-ci.yml: Use ddev exec doctl --help to prevent error in CI.
  .gitlab-ci.yml
Due: build:composer, build:yarn, validate:composer, test:phpunit

composer.json: Alphabetize installer-paths.
  composer.json
Due: build:composer, build:yarn, validate:composer, test:phpunit

Dockerfile.doctl: Update comment for older DDEV ARGs fix.
  .ddev/web-build/Dockerfile.doctl
Due: none

Increase Yarn to 4.9.2 and Node.js to 22.
  .ddev/config.yaml
  package.json
Due: build:composer, build:yarn

Trying out allowing PHP 8.4.
  .ddev/config.yaml
  composer.json
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

.gitlab-ci.yml: Set PHP to 8.3 for older DDEV-in-CI Docker image.
  .gitlab-ci.yml
Due: build:composer, build:yarn, validate:composer, test:phpunit

.gitlab-ci.yml: Set PHP to 8.3 higher up to prevent DDEV error?
  .gitlab-ci.yml
Due: build:composer, build:yarn, validate:composer, test:phpunit

composer.json: Set PHP to ^8.3 to fix CI.
  composer.json
Due: build:composer, build:yarn, validate:composer, test:phpunit

.gitlab-ci.yml: Trying out newer DDEV in CI Docker image w/ PHP 8.4:
  .gitlab-ci.yml
  composer.json
Due: build:composer, build:yarn, validate:composer, test:phpunit

Revert back to PHP 8.3 for now to fix CI.
  .ddev/config.yaml
  composer.json
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

composer.lock was out of date whoops.
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Added .do/jobs/cron.sh
  .do/jobs/cron.sh
Due: none

Trying .do/jobs/cron/ for App Platform buildpack detection w/ Aptfile.
  .do/jobs/cron/Aptfile
  .do/jobs/cron/cron.sh
Due: none

Trying Dockerfile for .do/jobs/cron/ to avoid build packs.
  .do/jobs/cron/Aptfile
  .do/jobs/cron/Dockerfile
Due: none

.do/jobs/cron/Dockerfile: Use double quotes.
  .do/jobs/cron/Dockerfile
Due: none

.ddev/commands/web/do-deploy: Added commented out deploy logs w/@todo.
  .ddev/commands/web/do-deploy
Due: none

.ddev/commands/web/doctl: Added other colours + link to source.
  .ddev/commands/web/doctl
Due: none

Upgraded drupal/omnipedia_site_theme (8.x-dev bee0c32 => 8.x-dev 3d4981d):
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/omnipedia_site_theme (8.x-dev 3d4981d => 8.x-dev 2cff933):
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/moderated_content_bulk_publish & drupal/pathauto:
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded drupal/gin (5.0.4 => 5.0.5)
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded aws/aws-sdk-php (3.356.32 => 3.356.37)
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

Upgraded various vendor dependencies:
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit

.gitignore: Update recipes to ignore entire directory like vendor.
  .gitignore
Due: none

Pitch: uninstalled EU Cookie Compliance module.
  drupal_config/sync/core.extension.yml
  drupal_config/sync/eu_cookie_compliance.cookie_category.behavioural_montages.yml
  drupal_config/sync/eu_cookie_compliance.cookie_category.necessary_cookies.yml
  drupal_config/sync/eu_cookie_compliance.cookie_category.neurometric_montages.yml
  drupal_config/sync/eu_cookie_compliance.cookie_category.preference_cookies.yml
  drupal_config/sync/eu_cookie_compliance.settings.yml
  drupal_config/sync/user.role.anonymous.yml
  drupal_config/sync/user.role.authenticated.yml
  drupal_config/sync/user.role.developer.yml
  drupal_config/sync/user.role.editor.yml
Due: none

Pitch: uninstalled omnipedia_block.
  drupal_config/sync/block.block.omnipedia_site_theme_founder_message.yml
  drupal_config/sync/block.block.omnipedia_site_theme_founder_message_join.yml
  drupal_config/sync/block.block.omnipedia_site_theme_omnipedia_header.yml
  drupal_config/sync/block.block.omnipedia_site_theme_page_revision_history.yml
  drupal_config/sync/block.block.omnipedia_site_theme_privacy_settings.yml
  drupal_config/sync/core.extension.yml
Due: none

Pitch: disabled the account menu and footer menu blocks.
  drupal_config/sync/block.block.omnipedia_site_theme_account_menu.yml
  drupal_config/sync/block.block.omnipedia_site_theme_footer.yml
Due: none

Pitch: uninstalled omnipedia_changes.
  drupal_config/splits/dev/config_split.patch.user.role.anonymous.yml
  drupal_config/splits/dev/config_split.patch.user.role.authenticated.yml
  drupal_config/sync/core.extension.yml
  drupal_config/sync/user.role.developer.yml
Due: none

Pitch: uninstalled omnipedia_menu.
  drupal_config/sync/core.extension.yml
Due: none

Pitch: uninstalled omnipedia_search.
  drupal_config/sync/core.extension.yml
  drupal_config/sync/search_api.index.wiki_pages.yml
Due: none

Pitch: uninstalled omnipedia_discourse and its sub-modules.
  drupal_config/sync/core.extension.yml
  drupal_config/sync/omnipedia_discourse.settings.yml
Due: none

Pitch: reset standard__front_page menu link to keep sidebar first vis.
  drupal_config/sync/core.menu.static_menu_link_overrides.yml
Due: none

core.menu.static_menu_link_overrides.yml re-export w/ only key order.
  drupal_config/sync/core.menu.static_menu_link_overrides.yml
Due: none

Pitch: uninstalled omnipedia_main_page + set default front page.
  drupal_config/sync/core.extension.yml
  drupal_config/sync/system.site.yml
Due: none

Pitch: set system.site.page.front to pitch node.
  drupal_config/sync/system.site.yml
Due: none

Pitch: enabled bulk delete content action.
  drupal_config/sync/views.view.content.yml
Due: none

Added <pitch> element + component + element manager improvements:
  composer.lock
Due: build:composer, build:yarn, validate:composer, test:phpunit
